.busy {
  background-color: #DB4F4F;
}

.free {
  background-color: #3C8D0D;
}

.busy .title:after {
  /* content: "Someone's in there"; */
  content: "Under maintenance :(";
}

.free .title:after {
  /* content: "Go ahead!"; */
  content: "Under maintenance :(";
}

.title {
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: white;
}
