.busy {
  background-color: #DB4F4F;
}

.free {
  background-color: #3C8D0D;
}

.busy .title:after {
  content: "Someone's in there";
}

.free .title:after {
  content: "Go ahead!";
}

.title {
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: white;
}
